.container .titulo {
    color: #fff;
    font-size: 2.5rem;
    text-align:center;
    margin: 2rem 0 1rem;
}

.filmes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.titulo .query-text {
    color: #f1bbbb;
}